@charset "utf-8";

@media screen and (max-width:768px) {
    header {
        width: 100%;
        padding: 0 23px;
        height: 111px;
        position: relative;
        display: flex;
        align-items: center;
    }

    header h1 {
        position: absolute;
        top: 44px;
        left: 50%;
        width: 111px;
        transform: translateX(-50%);
    }

    header h1 img {
        width: 100%;
    }

    header button {
        width: 22px;
        border: 0;
        background: none;
        cursor: pointer;
    }

    header button img {
        width: 100%;
    }


    /* menu bar on */
    .menu_on {
        width: 100%;
        height: 830px;
        background-color: #fff;
        position: absolute;
        left: -100%;
        top: 0;
        padding: 0 23px;
        z-index: 1000;
        /* display: none; */
    }

    .menu_on .login {
        padding: 40px 0px 20px 0px;
    }

    .menu_on .login span {
        margin-left: 10px;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 12px;
        color: #606060;
    }

    .menu_on .login .close_btn {
        float: right;
    }

    .menu_on .login img {
        width: 18px;
        height: 15px;
    }

    .menu_on .login .close_btn img {
        width: 12px;
        height: 12px;
        cursor: pointer;
    }

    .menu_list {
        margin-top: 40px;
    }

    .menu_list li {
        border-top: 1px solid #e5e5e5;
        padding: 17px 0;
    }

    .menu_list li span {
        font-family: 'yg-jalnan';
        font-size: 15px;
        color: #606060;
    }

    .menu_list li img {
        float: right;
        width: 8px;
        height: 14px;
        margin-top: 4px;
    }

    .menu_list li:last-child {
        border-bottom: 1px solid #e5e5e5;
    }


    /* footer */
    footer {
        width: 100%;
        height: 645px;
        background-color: #f7323f;
        padding: 0 23px;
        position: relative;
    }

    footer dt {
        text-align: left;
        font-family: 'yg-jalnan';
        font-size: 25px;
        color: #fff;
        padding: 32px 0 20px 0;
    }

    footer dd {
        font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
        font-size: 12px;
        color: #fff;
        line-height: 20px;
    }

    footer .tel a {
        color: #fff;
    }

    footer .email a {
        color: #fff;
    }

    footer .footer-sns {
        /* width: 50%; */
        display: flex;
        justify-content: flex-start;

    }

    footer .footer-sns img {
        width: 50%;
    }

    footer .footer-menu {
        display: flex;
        justify-content: space-between;
    }

    footer .footer-menu a {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 12px;
        color: #fff;
        padding: 35px 0px 0px 0px;
    }



    .docbar {
        width: 100%;
        position: fixed;
        bottom: 0;
        /* z-index: 10000; */
    }

    .docbar_inner {
        filter: drop-shadow(0 0 0.4rem #a1a1a1);
    }

    .docbar_inner .quick_srch {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 28px;
        margin: 0 auto;
        transform: translateY(1px);
    }

    .docbar_inner .quick_srch img {
        width: 15px;
        height: 15px;
    }

    .docbar_inner .quick_srch p {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 12px;
        color: #f7323f;
        padding-left: 6px;
    }

    .docbar_inner .quick_icon {
        display: flex;
        justify-content: space-between;
        text-align: center;
        background-color: #fff;
        height: 65px;
    }

    .docbar_inner .quick_icon div {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .docbar_inner .quick_icon img {
        width: 26px;
    }

    .quick_icon p {
        font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
        font-size: 12px;
        color: #606060;
        margin-top: 4px;
    }


    #topBtn {
        position: fixed;
        bottom: 70px;
        right: 20px;
        z-index: 100;
        background-color: rgba(222, 222, 222, 0.3);
        border: none;
        cursor: pointer;
        border-radius: 20%;
        width: 35px;
        height: 35px;
    }

    #topBtn img {
        width: 60%;
    }
}